*{
  margin:auto;
  box-sizing: border-box;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
#my_margin {
  margin-bottom: 0px;
  margin-top: 15px;
}
span.glyphicon {
  color: grey;
}
span.glyphicon:hover {
  color: white;
}
#active_acceuil {
  color: grey;
  background-color: transparent;
}
#active_acceuil:hover {
  color: white;
}
.navbar-inverse {
background-color: rgba(0, 0, 0, 0.8)!important;

}
body.back-end-img{
  background-image: url("../image/coin.jpg");
}
h1, th, td {
  color: white!important;
}
